# matsim builds
matsim-0.10.1
matsim-0.10.1.zip
matsim-12.0.zip
matsim-12.0
otfvis-13.0-SNAPSHOT-release.zip
otfvis-13.0-SNAPSHOT/

matsim-13.0
matsim-13.0-release.zip

output
test

Network.xml.gz
Plans.xml
transit_schedule.xml.gz
transit_vehicles.xml.gz

