<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">
<config>

	<module name="global">
		<param name="randomSeed" value="123" />
		<param name="coordinateSystem" value="WGS84" />
		<!-- "global" number of threads.  This number is used, e.g., for replanning, but NOT in the mobsim.  This can typically be set to as many cores as you have available, or possibly even slightly more. -->
		<param name="numberOfThreads" value="4" />
	</module>

	<module name="network">
		<!--<param name="inputNetworkFile" value="Network_example.xml" /> -->
		<param name="inputNetworkFile" value="Network.xml.gz" />
	</module>

	<module name="plans">
		<!-- <param name="inputPlansFile" value="Plans_example.xml" /> -->
		<param name="inputPlansFile" value="Plans.xml" />
	</module>

	<module name="controler">
		<param name="compressionType" value="gzip" />
		<param name="outputDirectory" value="./output" />
		<param name="firstIteration" value="0" />
		<param name="lastIteration" value="3" />
		<param name="routingAlgorithmType" value="FastAStarLandmarks" />
		<param name="writeTripsInterval" value="1" />
		<param name="dumpDataAtEnd" value="true" />
		<param name="enableLinkToLinkRouting" value="false" />
		<param name="mobsim" value="qsim" />
		<param name="createGraphs" value="false" />
	</module>

	<module name="qsim" >
		      <!-- end time in hours for one day of simulation? -->
		      <param name="endTime" value="30:00:00" />
					<!-- Number of threads used for the QSim.  Note that this setting is independent from the "global" threads setting.  In contrast to earlier versions, the non-parallel special version is no longer there. -->
					<param name="numberOfThreads" value="4" />
					<!-- capacityFactors should be scaled according to sampling -->
					<!-- <param name="storageCapacityFactor" value="0.001" />
					<param name="flowCapacityFactor" value="0.001" />-->
	</module>

	<module name="planCalcScore">
		<param name="learningRate" value="1.0" />
		<param name="BrainExpBeta" value="2.0" />

		<param name="lateArrival" value="-18" />
		<param name="earlyDeparture" value="-0" />
		<param name="performing" value="+6" />
		<param name="traveling" value="-6" />
		<param name="waiting" value="-0" />

		<param name="activityType_0"            value="home" />
		<param name="activityPriority_0"        value="1" />
		<param name="activityTypicalDuration_0" value="12:00:00" />
		<param name="activityMinimalDuration_0" value="08:00:00" />

		<param name="activityType_1"            value="work" />
		<param name="activityPriority_1"        value="1" />
		<param name="activityTypicalDuration_1" value="08:00:00" />
		<param name="activityMinimalDuration_1" value="06:00:00" />
		<param name="activityOpeningTime_1"     value="07:00:00" />
		<param name="activityLatestStartTime_1" value="09:00:00" />
		<param name="activityEarliestEndTime_1" value="" />
		<param name="activityClosingTime_1"     value="20:00:00" />

<!--
		<param name="activityType_2"            value="edu" />
		<param name="activityPriority_2"        value="1" />
		<param name="activityTypicalDuration_2" value="08:00:00" />
-->




 <parameterset type="scoringParameters" >
	 			<parameterset type="activityParams" >
						 <param name="activityType" value="home" />
						 <param name="closingTime" value="undefined" />
						 <param name="earliestEndTime" value="undefined" />
						 <param name="latestStartTime" value="undefined" />
						 <param name="minimalDuration" value="undefined" />
						 <param name="openingTime" value="undefined" />
						 <param name="priority" value="1.0" />
						 <param name="scoringThisActivityAtAll" value="false" />
						 <param name="typicalDuration" value="undefined" />
						 <param name="typicalDurationScoreComputation" value="relative" />
		 </parameterset>

		 <parameterset type="activityParams" >
							 <param name="activityType" value="work" />
							 <param name="closingTime" value="undefined" />
							 <param name="earliestEndTime" value="undefined" />
							 <param name="latestStartTime" value="undefined" />
							 <param name="minimalDuration" value="undefined" />
							 <param name="openingTime" value="undefined" />
							 <param name="priority" value="1.0" />
							 <param name="scoringThisActivityAtAll" value="false" />
							 <param name="typicalDuration" value="undefined" />
							 <param name="typicalDurationScoreComputation" value="relative" />
			 </parameterset>


	 				<parameterset type="modeParams" >
													<!-- [utils] alternative-specific constant.  Normally per trip, but that is probably buggy for multi-leg trips. -->
													<param name="constant" value="0.0" />
													<!-- [money] daily monetary constant. default=0 to be backwards compatible -->
													<param name="dailyMonetaryConstant" value="0.0" />
													<!-- [utils] daily utility constant. default=0 to be backwards compatible -->
													<param name="mode" value="car" /><param name="dailyUtilityConstant" value="0.0" />
													<!-- [utils/m] utility of traveling (e.g. walking or driving) per m, normally negative.  this is on top of the time (dis)utility. -->
													<param name="marginalUtilityOfDistance_util_m" value="0.0" />
													<!-- [utils/hr] additional marginal utility of traveling.  normally negative.  this comes on top of the opportunity cost of time -->
													<param name="marginalUtilityOfTraveling_util_hr" value="-1.0" />
													<!-- [unit_of_money/m] conversion of distance into money. Normally negative. -->
													<param name="monetaryDistanceRate" value="0.0" />
									</parameterset>
									<parameterset type="modeParams" >
													<param name="constant" value="0.0" />
													<param name="dailyMonetaryConstant" value="0.0" />
													<param name="mode" value="pt" /><param name="dailyUtilityConstant" value="0.0" />
													<param name="marginalUtilityOfDistance_util_m" value="0.0" />
													<param name="marginalUtilityOfTraveling_util_hr" value="-1.0" />
													<param name="monetaryDistanceRate" value="0.0" />
									</parameterset>
									<parameterset type="modeParams" >
													<param name="constant" value="0.0" />
													<param name="dailyMonetaryConstant" value="0.0" />
													<param name="mode" value="walk" /><param name="dailyUtilityConstant" value="0.0" />
													<param name="marginalUtilityOfDistance_util_m" value="0.0" />
													<param name="marginalUtilityOfTraveling_util_hr" value="-1.0" />
													<param name="monetaryDistanceRate" value="0.0" />
									</parameterset>
					</parameterset>

	</module>

	<module name="strategy">
		<param name="maxAgentPlanMemorySize" value="5" /> <!-- 0 means unlimited -->

		<param name="ModuleProbability_1" value="0.8" />
		<param name="Module_1" value="BestScore" />

		<param name="ModuleProbability_2" value="0.1" />
		<param name="Module_2" value="ReRoute" />

		<param name="ModuleProbability_3" value="0.1" />
		<param name="Module_3" value="TimeAllocationMutator" />
	</module>

	<module name="swissRailRaptor" >
							 <!-- Sets whether intermodal access and egress modes are selected by least cost (default) or randomly chosen out of the available access / egress modes. -->
							 <param name="intermodalAccessEgressModeSelection" value="CalcLeastCostModePerStop" />
							 <!-- Possible values: Default, Individual -->
							 <param name="scoringParameters" value="Default" />
							 <param name="transferPenaltyBaseCost" value="0.0" />
							 <param name="transferPenaltyCostPerTravelTimeHour" value="0.0" />
							 <param name="transferPenaltyMaxCost" value="Infinity" />
							 <param name="transferPenaltyMinCost" value="-Infinity" />
							 <param name="useIntermodalAccessEgress" value="false" />
							 <param name="useModeMappingForPassengers" value="false" />
							 <param name="useRangeQuery" value="false" />
			 </module>


	<module name="transit" >
                <param name="inputScheduleCRS" value="EPSG:4326" />
                <param name="insistingOnUsingDeprecatedAttributeFiles" value="false" />
                <param name="transitLinesAttributesFile" value="null" />
                <param name="transitModes" value="pt" />
                <param name="transitScheduleFile" value="transit_schedule.xml.gz" />
                <param name="transitStopsAttributesFile" value="null" />
                <param name="useTransit" value="true" />
                <param name="usingTransitInMobsim" value="true" />
                <param name="vehiclesFile" value="transit_vehicles.xml.gz" />
        </module>



</config>
