[submodule "Docs/Papers/MicrosimReview"]
	path = Docs/Papers/MicrosimReview
	url = git@github.com:JusteRaimbault/MicrosimReview.git
[submodule "Models/MobilityPlaces"]
	path = Models/MobilityPlaces
	url = git@github.com:MettiHoof/3circles.git
[submodule "Models/UrbanModelingCitations"]
	path = Models/UrbanModelingCitations
	url = git@github.com:JusteRaimbault/UrbanModelingCitations.git
[submodule "Docs/Papers/ABMCitiesFirms-paper"]
	path = Docs/Papers/ABMCitiesFirms-paper
	url = git@github.com:JusteRaimbault/ABMCitiesFirms-paper.git
[submodule "Models/ABMCitiesFirms"]
	path = Models/ABMCitiesFirms
	url = git@github.com:JusteRaimbault/ABMCitiesFirms.git
[submodule "Models/Microsimulation/neworder"]
	path = Models/Microsimulation/neworder
	url = https://github.com/virgesmith/neworder.git
[submodule "Models/Microsimulation/UKCensusAPI"]
	path = Models/Microsimulation/UKCensusAPI
	url = https://github.com/virgesmith/UKCensusAPI.git
[submodule "Models/Microsimulation/humanleague"]
	path = Models/Microsimulation/humanleague
	url = https://github.com/virgesmith/humanleague.git
[submodule "Models/Microsimulation/h24"]
	path = Models/Microsimulation/h24
	url = https://github.com/eighties-cities/h24.git
[submodule "Models/Microsimulation/microsim"]
	path = Models/Microsimulation/microsim
	url = git@github.com:openmole/microsim.git
[submodule "Models/QuantCore"]
	path = Models/QuantCore
	url = git@github.com:JusteRaimbault/QuantCore.git
[submodule "Models/Quant-developing"]
	path = Models/Quant-developing
	url = git@github.com:MettiHoof/Quant-developing.git
[submodule "Models/quant"]
	path = Models/quant
	url = git@github.com:maptube/quant.git
[submodule "Docs/WorkingPapers/QuantDescription"]
	path = Docs/WorkingPapers/QuantDescription
	url = git@github.com:JusteRaimbault/QuantDescription.git
[submodule "Models/Matsim/matsim-libs"]
	path = Models/Matsim/matsim-libs
	url = https://github.com/matsim-org/matsim-libs.git
[submodule "Docs/Papers/UrbanNetworkLUR"]
	path = Docs/Papers/UrbanNetworkLUR
	url = git@github.com:JusteRaimbault/UrbanNetworkLUR.git
[submodule "Docs/WorkingPapers/ABMJobMarket-doc"]
	path = Docs/WorkingPapers/ABMJobMarket-doc
	url = git@github.com:JusteRaimbault/ABMJobMarket-doc.git
[submodule "Docs/Papers/ABMJobMarket"]
	path = Docs/Papers/ABMJobMarket
	url = git@github.com:JusteRaimbault/ABMJobMarket.git
[submodule "Models/Microsimulation/microsimulation"]
	path = Models/Microsimulation/microsimulation
	url = https://github.com/nismod/microsimulation.git
[submodule "Models/Matsim/ile-de-france"]
	path = Models/Matsim/ile-de-france
	url = git@github.com:JusteRaimbault/ile-de-france.git
[submodule "Models/Matsim/eqasim-java"]
	path = Models/Matsim/eqasim-java
	url = git@github.com:JusteRaimbault/eqasim-java.git
[submodule "Models/ABMJobMarket"]
	path = Models/ABMJobMarket-model
	url = git@github.com:JusteRaimbault/ABMJobMarket-model.git
