[submodule "Docs/Papers/MicrosimReview"]
	path = Docs/Papers/MicrosimReview
	url = git@github.com:JusteRaimbault/MicrosimReview.git
[submodule "Models/MobilityPlaces"]
	path = Models/MobilityPlaces
	url = git@github.com:MettiHoof/3circles.git
[submodule "Models/QuantEpistemo_"]
	path = Models/QuantEpistemo_
	url = git@github.com:JusteRaimbault/UrbanModelingCitations.git
