[submodule "Docs/Papers/MicrosimReview"]
	path = Docs/Papers/MicrosimReview
	url = git@github.com:JusteRaimbault/MicrosimReview.git
[submodule "Models/MobilityPlaces"]
	path = Models/MobilityPlaces
	url = git@github.com:MettiHoof/3circles.git
[submodule "Models/QuantEpistemo"]
	path = Models/QuantEpistemo
	url = git@github.com:JusteRaimbault/UrbanModelingCitations.git
[submodule "Docs/Papers/ABMCitiesFirms"]
	path = Docs/Papers/ABMCitiesFirms
	url = git@github.com:JusteRaimbault/ABMCitiesFirms-paper.git
[submodule "Models/ABMCitiesFirms"]
	path = Models/ABMCitiesFirms
	url = git@github.com:JusteRaimbault/ABMCitiesFirms.git
[submodule "Models/Microsimulation/neworder"]
	path = Models/Microsimulation/neworder
	url = https://github.com/virgesmith/neworder.git
[submodule "Models/Microsimulation/UKCensusAPI"]
	path = Models/Microsimulation/UKCensusAPI
	url = https://github.com/virgesmith/UKCensusAPI.git
[submodule "Models/Microsimulation/humanleague"]
	path = Models/Microsimulation/humanleague
	url = https://github.com/virgesmith/humanleague.git
